.filter-container {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  /* width: 100%; */
  /* margin: 0 -0.9em; */
  /* bottom: 10px; */
}

.filter-container > * {
  background-color: black;
  margin-right: 0.1em;
  color: var(--white-bg-color);
  font-size: 0.75rem;
  padding: 0.7em 0.6em;
  font-weight: 700;
  flex-basis: 33.3%;
}
.filter-btn {
  margin-right: 0;
}
.sort {
  padding: 1rem;
}
.sort,
.filterMore {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 5;
  border-radius: 15px 15px 0 0;
}
.filterMore {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  row-gap: 0.7rem;
  padding: 1rem 1rem 1rem 0;
  grid-template-areas:
    " title title"
    " filter-keys filter-values "
    " filter-cancel filter-apply";
  /* row-gap: 0.7rem; */
}
.filter-title {
  grid-area: title;
  padding-left: 1rem;
}
.filter-keys {
  grid-area: filter-keys;
  display: flex;

  flex-direction: column;
  padding: 1em 0 1em 0.5em;
  border-radius: 5px;

  background-color: var(--gray-002);
}
.filter-keys > label {
  padding: 0.7em 0.5em 0.7em 1rem;
  margin: 0.5em -0.3em 0.5em 0;
}
.filter-keys label.active {
  background-color: #fff;
  font-weight: 500;
  border: none;
  outline: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.filter-keys input[type="radio"] {
  display: none;
}
.filter-values {
  position: relative;
  grid-area: filter-values;
  padding: 1em;
  border-radius: 5px;
}
.filter-values li {
  padding: 0.3em 0;
}
.filter-values .category-name {
  margin-top: -1rem;
}
.current-filters {
  overflow-x: auto;
}
.current-filters li {
  padding: 0.3em;
  margin-right: 0.5em;
  color: rgba(216, 112, 147, 0.575);
  border: 0.5px solid rgba(206, 143, 164, 0.37);
  border-radius: 5px;
}
.filter-values label {
  margin-left: 1.2em;
}
.filter-apply {
  grid-area: filter-apply;
  width: 70%;
  /* display: flex;
  padding-left: 1rem;
  flex: 1 2;
  align-items: center; */
}
.filter-cancel {
  grid-area: filter-cancel;
  width: 90%;
}
.no-of-items {
  color: rgba(0, 0, 0, 0.363);
}
.sort li {
  /* top: 50%; */
  margin-bottom: 0.5em;
}
.reset-filter-btn {
  background-color: transparent;
  font-size: 0.9rem;
  color: palevioletred;
}
.total-filter-products {
  font-size: 0.8rem;
  font-weight: 300;
}
.compare-btn.compare-active {
  background-color: palevioletred;
  /* font-size: 1rem; */
}
@media screen and (min-width: 900px) {
  .filters {
    display: none;
  }
}
