.login,
.sign-store,
.sign-member {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.login .back,
.sign-member .back {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.login-success {
  position: absolute;
  top: 6rem;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  /* font-size: ; */
  font-weight: 600;
  padding: 1rem;
}
.login .back svg {
  margin-right: 1em;
  stroke: #000;
  stroke-width: 0.6rem;
}
.sign-store {
  height: auto;
}
.login__welcome {
  height: 60vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.login__email,
.signup__number,
.login__password {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.3em 0;
  font-size: 1rem;
}
/* .login__input .error,
.login__input .error {
  color: rgb(245, 84, 84);
  font-size: 0.7rem;
} */
.login label {
  display: inline;
}
.input-error {
  display: inline;
  color: rgb(245, 84, 84);
  font-size: 0.7rem;
  width: initial;
  margin-bottom: 0.5em;
  padding: 0.5em;
  /* border: 1px solid rgb(245, 84, 84); */
  border-radius: 5px;
}
.login__input label {
  margin-right: 1rem;
}
.forget-password {
  color: #0000ff;
}

.login__input {
  width: 80%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login__input select,
.login__input textarea {
  border: none;
}
.login__input select {
  background-color: transparent;
  width: 100%;
}
.invalid-password {
  width: 80%;
  border: 1px solid;
  padding: 0.5em;
  margin-bottom: 0.5em;
  color: rgb(245, 84, 84);
  border-radius: 5px;
}

.login__input.error,
.invalid-password {
  border-color: rgba(214, 0, 0, 0.315);
}
.login__signUp-btn,
.login__btn {
  padding: 0.7em 3em;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0.7em;
}
.login__btn {
  background-color: #000;
  color: #fff;
}
.login__signUp-btn {
  background: none;
  border: 1px solid #ccc;
}
.login__or {
  margin: 0.5em;
}

.signup-container {
  position: relative;
}
.shoprice,
.signup-option,
.sign-welcome,
.signup-option button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signup {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  right: 0;
  display: flex;
  border-radius: 15px;
  padding: 1.4em 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
/* .shoprice {
  height: 50vh;
} */

.sign-welcome {
  height: 40vh;
  font-size: 1.3rem;
}
.signup-option {
  margin-bottom: 0.5rem;
}
.signup-option button {
  flex-direction: row;

  font-weight: 500;
  /* margin: 0 0 0 4em; */
  width: 70vw;
  border-radius: 5px;
  padding: 1em;
}
.signup-option p {
  font-size: 0.8rem;
  font-size: 400;
  color: rgb(63, 62, 62);
  padding: 0.5em;
}
.signup-arrow {
  display: inline-block;
  margin: 0.3em 0 0 0.5em;
}
.signup-arrow svg {
  width: 15px;
  height: 15px;
}
.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 40vw;
  border-radius: 5px;
  margin: 0.5em 2.5rem 0 0;
  /* margin-left: auto; */

  background-color: #000;
  color: #fff;
}
.signup-btn svg {
  height: 15px;
  width: 15px;
  margin-left: 1rem;
  fill: #fff;
}
.sign-store__message {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.signUpOutput {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

@media screen and (min-width: 900px) {
  .login {
    width: 40%;
  }
}
